
.products_components {
    border-radius: 10px;
    background-color: #cc0000;
    width: 280px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    color: white;
    height: 100%;
}

img {
   width: 75%;
   height: auto;
   object-fit: contain;
}

.products_price {
    color: rgb(0, 199, 0);
    font-size: 20px;
}
