
.products_components {
    border-radius: 10px;
    background-color: #1f3747;
    width: 220px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    color: white;
    
}

img {
   width: 75%;
   height: auto;
   object-fit: contain;
}

.products_price {
    color: rgb(1, 163, 1);
    font-size: 20px;
}
