.market_components {
    margin-top: 25px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    justify-self: center;
}

.market_components img{
    width: 250px;
    height: 250px; 
}

.market_table {
    border: 5px solid rgb(0, 0, 0);
}

th {
    background-color: #c41616;
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 100%;

}

td {
    background-color: #cc0000;
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    color: white;
    height: 100%;
    font-size: 20px;
    flex-direction: row;
    justify-content: center;
}


