body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(216, 216, 216);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #2a5c7e;
  border-radius: 10px;
  margin-bottom: 10%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease; /* adiciona transição suave */
}

button:hover {
  background-color: #3390ce; /* tom mais claro do fundo */
  color: rgb(255, 255, 255); /* cor do texto muda suavemente */
}